{% extends 'base.html' %}
{% block title %} FAQ || T-20 Predictor {% endblock title %}

{% load static %}

{% block body %}

    <!--site-main start-->
    <div class="site-main" >
        <section class="ttm-row team-section pb-105 clearfix">
            <div class="container">
               <!-- row -->
               <div class="row">
                   <div class="col-lg-10 col-md-10">
                       <!-- section-title -->
                       <div class="section-title with-desc clearfix">
                           <div class="title-header">
                               <h5>FAQ's</h5>
                               <h2 class="title">Frequently Asked Questions</h2>
                           </div>
                       </div><!-- section-title end -->
                   </div>
                   <div class="col-lg-2 col-md-2"></div>
               </div><!-- row end -->
               <!-- row -->
               <div class="row">
                    <div class="col-lg-12">
                        <div class="wrap-acadion">
                            <div class="accordion">
                                {% for faq in faqs %}

                                    <!-- toggle -->
                                    <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="ttm-title-text">{{faq.question}}</span>
                                            </a>
                                        </div>
                                        <div class="toggle-content" style="display: none;">
                                            <p>{{faq.answer}}</p>
                                        </div>
                                    </div><!-- toggle end -->

                                {% endfor %}

                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                    <div class="toggle-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="ttm-title-text">What is software development?</span>
                                        </a>
                                    </div>
                                    <div class="toggle-content" style="display: none;">
                                        <p>Software development is the process of designing, creating, testing, and maintaining computer programs, applications, or systems. It involves writing code using programming languages to solve specific problems or provide desired functionalities.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->
                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                    <div class="toggle-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="ttm-title-text">What is software development?</span>
                                        </a>
                                    </div>
                                    <div class="toggle-content" style="display: none;">
                                        <p>Software development is the process of designing, creating, testing, and maintaining computer programs, applications, or systems. It involves writing code using programming languages to solve specific problems or provide desired functionalities.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->

                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                                    <div class="toggle-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="ttm-title-text">What are the key stages of the software development lifecycle (SDLC)?</span>
                                        </a>
                                    </div>
                                    <div class="toggle-content" style="display: none;">
                                        <p>The software development lifecycle consists of several stages, including:

                                            Requirements Gathering: Collecting and documenting user needs and system requirements.
                                            Design: Creating a high-level design and architecture for the software.
                                            Implementation: Writing code based on the design specifications.
                                            Testing: Thoroughly testing the software to identify and fix bugs and ensure it meets requirements.
                                            Deployment: Releasing the software for users to use.
                                            Maintenance: Continuously updating and improving the software based on user feedback and changing requirements.
                                        </p>
                                    </div>
                                </div><!-- toggle end -->

                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </section>
    </div>
    <!--site-main end-->

{% endblock %}