{% extends 'dashboard/base.html' %}

{% block body %}

<!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        {% include 'dashboard/sidebar.html' %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">

                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-table-two">

                            <div class="widget-heading">
                                <h5 class="">Tournament List</h5>
                            </div>

                            <div class="widget-content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><div class="th-content">Record ID</div></th>
                                                <th><div class="th-content">Tournament Name</div></th>
                                                <th><div class="th-content">About</div></th>
                                                <th><div class="th-content">Status</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><div class="td-content product-invoice">#46894</div></td>
                                                <td><div class="td-content product-brand text-primary">IPL</div></td>
                                                <td><div class="td-content pricing"><span class="">IPL</span></div></td>
                                                <td><div class="td-content"><span class="badge badge-success">True</span></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-table-three">

                            <div class="widget-heading">
                                <h5 class="">Users</h5>
                            </div>

                            <div class="widget-content">
                                <div class="table-responsive">
                                    <table class="table table-scroll">
                                        <thead>
                                            <tr>
                                                <th><div class="th-content">Full Name</div></th>
                                                <th><div class="th-content th-heading">Email</div></th>
                                                <th><div class="th-content th-heading">Phone Number</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><div class="td-content product-name"><div class="align-self-center"><p class="prd-name">Md. Taufiq AL Hasib</p><p class="prd-category text-primary">Sadi</p></div></div></td>
                                                <td><div class="td-content"><span class="pricing">taufiq.hasib@gmail.com</span></div></td>
                                                <td><div class="td-content"><span class="pricing">+8801834835376</span></div></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->


{% endblock body %}