{% extends 'base.html' %}
{% block title %} Home || T-20 Predictor {% endblock title %}

{% load tournaments %}
{% load static %}

{% block body %}

    <!--site-main start-->
        <div class="site-main mb-10" >
            <section class="ttm-row experiance-section bg-layer break-1199-colum clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pt-105 res-1199-plr-15 res-991-pt-50">
                                <!-- section title -->
                                <div class="section-title  clearfix">
                                    <div class="title-header">
                                        <h5>Tournaments</h5>
                                        <h2 class="title">Choose Your Tournaments</h2>
                                    </div>
                                </div><!-- section title end -->
                            </div>
                        </div>

                        {% for tournament in request|tournaments %}

                            <div class="col-lg-3 col-md-4">
                                <div class="client-box ttm-box-view-logo">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="{{tournament.tool_tip}}">
                                        <div class="client-thumbnail">
                                            <a href="{% url 'tournament:score-prediction-form' pk=tournament.id %}">
                                                <img src="{{tournament.image.url}}" alt="image" height="80">
                                                <h5>{{tournament.name}}</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                        {% if request.user.is_authenticated %}

                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Men's T20 International">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/t20-logo.png' %}" alt="image" height="80">
                                            <h5>Men's T20 International</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Women's T20 International">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/t20-logo.png' %}" alt="image" height="80">
                                            <h5>Women's T20 International</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="BPL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/bpl.png' %}" alt="image" height="80">
                                            <h5>BPL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="IPL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/ipl.png' %}" alt="image" height="80">
                                            <h5>IPL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="BBL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/bbl.png' %}" alt="image" height="80">
                                            <h5>BBL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="WBBL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/wbbl.png' %}" alt="image" height="80">
                                            <h5>WBBL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="T20 Blast">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/t20-blast.png' %}" alt="image" height="80">
                                            <h5>T20 Blast</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="PSL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/psl.png' %}" alt="image" height="80">
                                            <h5>PSL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="LPL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/lpl.png' %}" alt="image" height="80">
                                            <h5>LPL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="CPL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/cpl.png' %}" alt="image" height="80">
                                            <h5>CPL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Men's Super Smash">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/men-super.png' %}" alt="image" height="80">
                                            <h5>Men's Super Smash</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Women's Super Smash">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/men-super.png' %}" alt="image" height="80">
                                            <h5>Women's Super Smash</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="CSA T20 Challenge">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/csa-t20.png' %}" alt="image" height="80">
                                            <h5>CSA T20 Challenge</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="client-box ttm-box-view-logo">
                                <div class="ttm-client-logo-tooltip" data-tooltip="WCSL">
                                    <div class="client-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/client/wcsl.png' %}" alt="image" height="80">
                                            <h5>WCSL</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div><!-- row end -->
                </div>
            </section>
        </div>
    <!--site-main end-->

{% endblock %}
