{% extends 'base.html' %}
{% block title %} Sign In || T-20 Predictor {% endblock title %}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    <!--site-main start-->
    <div class="site-main" style="height: 100vh;">
        <section class="ttm-row team-section ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey h-100 clearfix">
            <div class="container">
               <div class="row">
                    <div class="col-md-7 m-auto">
                        <div class="spacing-4 ttm-bgcolor-white">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <a href="view-profile.html" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor mb-20">View Profile</a>
                                    <h2 class="title ttm-textcolor-skincolor" style="color: #0D3B4A;">Profile Update Form</h2>
                                </div>

                            </div><!-- section title end -->
                            <form id="ttm-make-appoint-form" class="ttm-make-appoint-form wrap-form mt_15 clearfix" method="post" action="#">

                                {% csrf_token %}

                                {{ form|crispy }}
                                <input name="submit" type="submit" id="submit" class="submit" value="Edit Profile">
                            </form>
                        </div>
                    </div>
               </div>
           </div>
        </section>
    </div><!--site-main end-->

{% endblock %}